.git/
.gitlab/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/
.pixi/
.venv/
venv/
build/
pyfuga.egg-info/
docs/_build/
*.ipynb_checkpoints
tests/notebook_outputs/
