# Python
__pycache__/
*.pyc

# Virtual Environments
.venv*
.pixi/

# Build & Distribution
build/
dist/
pyfuga.egg-info/
*.whl
*.tar.gz

# Testing
.pytest_cache/
.coverage
tests/notebook_outputs/

# Documentation
docs/_build/
docs/api/generated/

# IDE & Editors
*.project

# Application Data (NetCDF files)
*.nc
