/tests/test_files/__pycache__/*.pyc
*.pyc
/.pytest_cache/
/pypreludium/.coverage
/PyFuga.egg-info
/*.project
/fuga/tests/test_files/D080.0000_zH070.0000_16_32
/fuga/tests/test_files/preLUTs_Zeta0=0.00E+00_16_32
/*.nc
finito
snyd.txt
WTdata.txt
CaseData.txt
levels.txt
progress.txt
/pyfuga/tests/test_files/preLUTs_Zeta0=0.00E+00_16_32
__pycache__
settings.json
docs/_build/
docs/api/generated/
pixi*
.coverage
.pixi/*
*.nc
.venv*
.vscode/

# Test files
pyfuga_tests/test_files/*
!pyfuga_tests/test_files/__init__.py

# Build files
dist/

# Wheel files
*.whl

# Tar gz files
*.tar.gz