# Python
__pycache__/
*.pyc

# Virtual Environments
.venv*
.pixi/

# Build & Distribution
build/
dist/
pyfuga.egg-info/
*.whl
*.tar.gz

# Testing
.pytest_cache/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
tests/notebook_outputs/

# Jupyter
.ipynb_checkpoints/

# Type checkers / linters
.mypy_cache/
.ruff_cache/

# Documentation
docs/_build/
docs/api/generated/

# IDE & Editors
*.project
*.bak

# Application Data (NetCDF files)
*.nc
!tests/test_files/*.nc
tests/test_files/tmp_preluts*.nc
